## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [15]:
string_01 = "History is always written by the winners. hen two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

In [9]:
string_t = "History is always written"
print(len(string_t))
print(string_t.count(" "))
print(len(string_t) - string_t.count(" "))

25
3
22

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [7]:
len(string_01) - string_01.count(" ") #+1 если нужен символ перевода строки

223

2. Посчитайте, сколько в строке слов.

In [12]:
len(string_01.split(" "))

44

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [21]:
import re

def find_words_start_with(letter):
    string_02 = re.sub(r'[^\w\s]',"", string_01)
    string_list = string_02.split(" ")
    for word in string_list:
        if word.startswith(letter.upper()) or word.startswith(letter.lower()):
            print(word)

In [22]:
find_words_start_with("w")

written
winners
winner
writes
which
What

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [1]:
import random

In [10]:
num = ""
while '3' not in num:
    num = ''.join([str(random.randint(0,9)) for i in range(6)])
num

'782183'

#### Задача 3

Дан список:

In [11]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [13]:
for i in list_01:
    if 100>i>10 or 500>i>200:
        print(i)

13
21
34
55
89
233
377
14
46
273
22
99
15

In [16]:
[i for i in list_01 if 100>i>10 or 500>i>200]

[13, 21, 34, 55, 89, 233, 377, 14, 46, 273, 22, 99, 15]

#### Задача 4

Данные студентов представлены в виде списка списков:

In [17]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [38]:
students_dict = {}
for i in students:
    students_dict[i[0]] = i[1:]
    #print(i[0], i[1:])
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [45]:
list(students_dict.keys())

['0001', '1102', '0333', '4004', '0045', '0096', '0607']

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [52]:
def get_rename_group(number_student, new_group):
    #if i not in list(students_dict.keys()):
     #   print('NO')
    try:
        students_dict[number_student][-1] = new_group
    except KeyError:
        print('Такого номмера нет')

In [53]:
get_rename_group('0201','1234')

Такого номмера нет

In [54]:
get_rename_group('0001','1234')
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', '1234'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [125]:
def get_fio_students_of_group(number_group):
    l = []
    for i in students_dict:
        #print(i, students_dict[i][-1])
        if number_group == students_dict[i][-1]:
            # print(students_dict[i][:3])
            l.append(students_dict[i][:3])
    return l if len(l) > 0 else "Такой группы нет"

In [137]:
def get_another_fio_students_of_group(number_group):
    for i in students_dict.values():
        if i[-1] == number_group:
            # print(i[:3])
            print(i[0], i[1], i[2])

In [138]:
get_another_fio_students_of_group('БСТ163')

Глаголева Анастасия Николаевна

In [128]:
a = get_fio_students_of_group('БСТ163')
a

[['Глаголева', 'Анастасия', 'Николаевна']]

In [131]:
a = get_fio_students_of_group('БСТ193')
a

'Такой группы нет'

#### Задача 5

Дана матрица:

In [129]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [139]:
import numpy as np

In [140]:
np.sum(matrix)

89

1. Выведите результат сложения всех элементов матрицы.

In [141]:
s = 0
for i in matrix:
    s += sum(i)
s

89

In [142]:
sum([sum(i) for i in matrix])

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [144]:
max(np.sum(matrix,axis=0))

22

In [145]:
np.array(matrix).T

array([[0, 6, 3, 4, 5],
       [1, 2, 3, 6, 7],
       [2, 2, 3, 7, 3],
       [4, 1, 3, 1, 4],
       [8, 9, 3, 2, 0]])