In [2]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 63.0 MB/s eta 0:00:00m eta 0:00:01:01:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/rain/Jupyter/jup_venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 86.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /home/rain/Jupyter/jup_venv/lib/python3.10/site-packages (from pandas) (1.24.0)
Requirement already satisfied: six>=1.5 in /home/rain/Jupyter/jup_venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.2 pytz-2022.7

In [2]:
!pip install html5lib

Requirement already satisfied: html5lib in /home/rain/Jupyter/jup_venv/lib/python3.10/site-packages (1.1)
Requirement already satisfied: webencodings in /home/rain/Jupyter/jup_venv/lib/python3.10/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /home/rain/Jupyter/jup_venv/lib/python3.10/site-packages (from html5lib) (1.16.0)

# Основы pandas

In [54]:
import pandas as pd

Пример забора данных с сайтов

In [3]:
pd.read_html('http://www.cbr.ru')

ValueError: No tables found

In [8]:
pd.read_html('http://www.cbr.ru')[2]

ImportError: html5lib not found, please install it

In [6]:
pd.read_html('http://www.cbr.ru', attrs = {'class': 'main-indicator_rates'}, encoding='utf-8')

ValueError: No tables found

In [4]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: Hostname mismatch, certificate is not valid for 'www.finanz.ru'. (_ssl.c:997)>

In [ ]:
df[:5]

Импорт данных из файла

In [12]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
data.tail()

          country  year  quantity  category
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

In [8]:
type(data)

pandas.core.frame.DataFrame

In [13]:
# если надо указать свои заголовки и разделитель
#?pd.read_csv
data = pd.read_csv('power.csv', names = ['страна', 'год', 'количество', 'категория'], sep = '\t', header=0)
data.head()

ParserError: Too many columns specified: expected 4 and found 1

In [14]:
# количество строк в датафрейме

len(data)

1189482

In [15]:
# или так

data.shape

(1189482, 4)

Простые вычисления для нового столбца

In [16]:
data['year_plus_one'] = data['year'] + 1
data.head()

   country  year  quantity  category  year_plus_one
0  Austria  1996       5.0         1           1997
1  Austria  1995      17.0         1           1996
2  Belgium  2014       0.0         1           2015
3  Belgium  2013       0.0         1           2014
4  Belgium  2012      35.0         1           2013

### Упражнение
Вам дана статистика продаж в файле transactions.csv. Вам необходимо загрузить этот файл в датафрейм и посчитать его размеры.

In [7]:
transactions = pd.read_csv('transactions.csv')
transactions.head()

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2017      1  t001      A1       7   2904  20328  1200
1  2017      1  t002      A2       2   1896   3792  1100
2  2017      2  t003      A1       5   2904  14520  1200
3  2017      2  t004      A4       1   8618   8618  4200
4  2017      2  t005      A5       3   5175  15525   500

In [8]:
transactions.tail()

    Year  Month    ID Product  Amount  Price  Total  Cost
55  2017     12  t056      _4       2   8618  17236  1200
56  2017     12  t057      _2       8   1896  15168  1200
57  2017     12  t058      _5       2   5175  10350   200
58  2017     12  t059      _8       3   3760  11280   800
59  2017     12  t060      _3       4   1265   5060   700

In [9]:
transactions.shape

(60, 8)

### Основные сведения о датафрейме

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [21]:
# немного статистики

data.describe()

               year      quantity      category  year_plus_one
count  1.189482e+06  1.189482e+06  1.189482e+06   1.189482e+06
mean   2.002852e+03  1.842648e+05  3.624763e+01   2.003852e+03
std    7.167345e+00  1.585663e+07  1.809968e+01   7.167345e+00
min    1.990000e+03 -8.643480e+05  1.000000e+00   1.991000e+03
25%    1.997000e+03  1.400000e+01  2.400000e+01   1.998000e+03
50%    2.003000e+03  1.890000e+02  3.500000e+01   2.004000e+03
75%    2.009000e+03  2.265000e+03  5.100000e+01   2.010000e+03
max    2.014000e+03  6.680329e+09  7.100000e+01   2.015000e+03

### Отдельный столбец (тип Series)

In [15]:
data['year'].head()

0    1996
1    1995
2    2014
3    2013
4    2012
Name: year, dtype: int64

In [16]:
# или так

data.year.head()

0    1996
1    1995
2    2014
3    2013
4    2012
Name: year, dtype: int64

In [17]:
type(data['year'])

pandas.core.series.Series

In [18]:
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [19]:
# уникальные значения в столбце

data['category'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 12, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71])

In [20]:
len(data['category'].unique())

71

In [21]:
data['category'].head()

0    1
1    1
2    1
3    1
4    1
Name: category, dtype: int64

In [22]:
# распределение количества строк по значениям столбца

data['category'].value_counts().head(10)

67    133916
27     97645
24     75132
42     64161
37     62156
39     53198
25     52032
21     50229
51     43466
31     42307
Name: category, dtype: int64

In [23]:
data['category'].value_counts(normalize=True).head()

67    0.112583
27    0.082090
24    0.063164
42    0.053940
37    0.052255
Name: category, dtype: float64

### Упражнение
Используем файл transactions.csv. Определите какой товар (столбец Product) упоминается в файле чаще всего?

In [24]:
transactions = pd.read_csv('transactions.csv')
transactions.head()

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2017      1  t001      A1       7   2904  20328  1200
1  2017      1  t002      A2       2   1896   3792  1100
2  2017      2  t003      A1       5   2904  14520  1200
3  2017      2  t004      A4       1   8618   8618  4200
4  2017      2  t005      A5       3   5175  15525   500

In [27]:
transactions['Product'].value_counts()

_5    11
_8     8
_2     8
_3     7
_4     7
A1     5
A4     5
A5     5
A2     2
_6     2
Name: Product, dtype: int64

# Фильтры

In [28]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [29]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

   country  quantity
0  Austria       5.0
1  Austria      17.0
2  Belgium       0.0
3  Belgium       0.0
4  Belgium      35.0

In [30]:
# или так

data[['country', 'quantity']].head()

   country  quantity
0  Austria       5.0
1  Austria      17.0
2  Belgium       0.0
3  Belgium       0.0
4  Belgium      35.0

### Отфильтруем строки с потреблением выше среднего

In [31]:
average_level = data['quantity'].mean()
average_level

184264.77005012863

In [32]:
'quantity > {}'.format(average_level)

'quantity > 184264.77005012863'

In [37]:
data['quantity'].mean()

184264.77005012863

In [33]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query('quantity > {}'.format(average_level)).head()

            country  quantity
3228  United States  367987.0
3229  United States  384439.0
3230  United States  370625.0
3231  United States  310909.0
3232  United States  335418.0

In [34]:
# самый популярный способ

data[ data.quantity > average_level ].head()

            country  year  quantity  category
3228  United States  2014  367987.0         2
3229  United States  2013  384439.0         2
3230  United States  2012  370625.0         2
3231  United States  2011  310909.0         2
3232  United States  2010  335418.0         2

### Как определить используемый вариант названия страны?

In [35]:
data['country'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [36]:
# найдем как называется Россия и Беларусь в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'us'

data[ data['country'].str.contains('us', case=False) ]['country'].unique()

array(['Austria', 'Brunei Darussalam', 'Australia', 'Russian Federation',
       'USSR (former)', 'Mauritius', 'Belarus', 'Cyprus',
       'Bonaire, St Eustatius, Saba'], dtype=object)

In [38]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries.head()

                 country  year  quantity  category
6940  Russian Federation  2014   12714.0         3
6941  Russian Federation  2013   11285.0         3
6942  Russian Federation  2012   11302.0         3
6943  Russian Federation  2011    7611.0         3
6944  Russian Federation  2010    9263.0         3

In [39]:
filtered_countries['country'].unique()

array(['Russian Federation', 'Belarus'], dtype=object)

In [41]:
data[data.country.isin(['Russian Federation','Belarus'])]

                    country  year  quantity  category
6940     Russian Federation  2014   12714.0         3
6941     Russian Federation  2013   11285.0         3
6942     Russian Federation  2012   11302.0         3
6943     Russian Federation  2011    7611.0         3
6944     Russian Federation  2010    9263.0         3
...                     ...   ...       ...       ...
1189189  Russian Federation  2001       3.0        71
1189190  Russian Federation  2000       2.0        71
1189191  Russian Federation  1999       2.0        71
1189192  Russian Federation  1998       0.0        71
1189193  Russian Federation  1997       0.0        71

[23697 rows x 4 columns]

In [43]:
# фильтры на номер строки
print(len(data.loc[1000:1005]))
data.loc[1000:1005]

6

      country  year  quantity  category
1000  Austria  1998     -14.0         1
1001  Austria  1997       5.0         1
1002  Austria  1996      -1.0         1
1003  Austria  1995     -10.0         1
1004  Austria  1994      -8.0         1
1005  Austria  1993     -11.0         1

# Сортировка

In [ ]:
# Сортировка по столбцу

data.sort_values(by='quantity').head()

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

In [ ]:
# сортировка по нескольким столбцам

data.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)

### Параметр inplace

In [ ]:
data.head()

In [ ]:
data.sort_values('country', ascending=True, inplace=rewrite)

In [ ]:
data = data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)

### Упражнение
Используем transactions.csv.

Для какой транзакции (столбец ID) были наибольшие расходы (столбец Cost) в категории "_8" (столбец Product)?

In [2]:
transactions = pd.read_csv('transactions.csv')
transactions.head()

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2017      1  t001      A1       7   2904  20328  1200
1  2017      1  t002      A2       2   1896   3792  1100
2  2017      2  t003      A1       5   2904  14520  1200
3  2017      2  t004      A4       1   8618   8618  4200
4  2017      2  t005      A5       3   5175  15525   500

In [24]:
transactions[['ID','Product', 'Cost']]

      ID Product  Cost
0   t001      A1  1200
1   t002      A2  1100
2   t003      A1  1200
3   t004      A4  4200
4   t005      A5   500
5   t006      _6   200
6   t007      _3   200
7   t008      _5  1200
8   t009      _8  1000
9   t010      _4  3400
10  t011      _2   800
11  t012      _5   700
12  t013      _8  1200
13  t014      _4   250
14  t015      _2   650
15  t016      A4  2400
16  t017      A5  1200
17  t018      _6  1200
18  t019      _3   200
19  t020      _5   800
20  t021      _3   700
21  t022      _5  4200
22  t023      _8   200
23  t024      _4  1200
24  t025      _2   250
25  t026      _5   650
26  t027      _8   800
27  t028      _4   700
28  t029      _2  1200
29  t030      A4   250
30  t031      _2   650
31  t032      A4  2400
32  t033      A5  1200
33  t034      _3  1000
34  t035      _5   800
35  t036      _3  2400
36  t037      _5   200
37  t038      _8   700
38  t039      _4  2400
39  t040      _2  1000
40  t041      _5   800
41  t042      _8   800
42  t043      _4   200
43  t044      _5   700
44  t045      _3   250
45  t046      _5   650
46  t047      A5  2400
47  t048      A1  1200
48  t049      A2  1200
49  t050      A1   200
50  t051      A4   800
51  t052      A5   700
52  t053      _2   250
53  t054      A1   650
54  t055      _8  2400
55  t056      _4  1200
56  t057      _2  1200
57  t058      _5   200
58  t059      _8   800
59  t060      _3   700

In [51]:
transactions[transactions['Product'] == '_8'].sort_values('Cost', ascending=False)['ID'].values[0]

't055'

In [34]:
type(transactions[transactions['Product'] == '_8'].sort_values('Cost', ascending=False))

pandas.core.frame.DataFrame

In [46]:
type(transactions[transactions['Product'] == '_8'].sort_values('Cost', ascending=False)['ID'].head(1))

pandas.core.series.Series

In [47]:
max(transactions[transactions['Product'] == '_8']['Cost']), type(max(transactions[transactions['Product'] == '_8']['Cost']))

(2400, int)

In [17]:
transactions[transactions['Product'] == '_8']['Cost']

8     1000
12    1200
22     200
26     800
37     700
41     800
54    2400
58     800
Name: Cost, dtype: int64

### Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [52]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [56]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [53]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [55]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [60]:
len(ratings[ratings['rating'] == 5.0 ])

4071135

In [68]:
ratings[ratings['rating'] == 5.0 ]

          userId  movieId  rating   timestamp
40             3     2028     5.0   945141611
61             4       47     5.0  1113767129
107            4      296     5.0  1113767056
109            4      316     5.0  1113767120
111            4      318     5.0  1113766505
...          ...      ...     ...         ...
27753429  283228     6377     5.0  1379882837
27753431  283228     7072     5.0  1379882920
27753436  283228     7831     5.0  1379882907
27753437  283228     7834     5.0  1379882865
27753438  283228     8228     5.0  1354137317

[4071135 rows x 4 columns]

In [72]:
buf = ratings[ratings['rating'] == 5.0 ]

In [112]:
buf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4071135 entries, 40 to 27753438
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 155.3 MB

In [77]:
?pd.value_counts

In [115]:
buf[['rating', 'movieId']].value_counts()

rating  movieId
5.0     318        48762
        296        37458
        356        32009
        260        31385
        593        30280
                   ...
        114382         1
        114373         1
        114363         1
        114353         1
        193874         1
Length: 24209, dtype: int64

In [110]:
buf[['movieId','rating' ]].value_counts()

movieId  rating
318      5.0       48762
296      5.0       37458
356      5.0       32009
260      5.0       31385
593      5.0       30280
                   ...
114382   5.0           1
114373   5.0           1
114363   5.0           1
114353   5.0           1
193874   5.0           1
Length: 24209, dtype: int64

In [151]:
mv = buf[['rating','movieId' ]]

In [152]:
mv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4071135 entries, 40 to 27753438
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   rating   float64
 1   movieId  int64
dtypes: float64(1), int64(1)
memory usage: 93.2 MB

In [153]:
mv.value_counts(), type(mv.value_counts())

(rating  movieId
 5.0     318        48762
         296        37458
         356        32009
         260        31385
         593        30280
                    ...
         114382         1
         114373         1
         114363         1
         114353         1
         193874         1
 Length: 24209, dtype: int64,
 pandas.core.series.Series)

In [154]:
mv[mv['movieId'] == 318]

          rating  movieId
111          5.0      318
782          5.0      318
1537         5.0      318
2058         5.0      318
2113         5.0      318
...          ...      ...
27749722     5.0      318
27749767     5.0      318
27749828     5.0      318
27750127     5.0      318
27751767     5.0      318

[48762 rows x 2 columns]

In [123]:
movies[movies['movieId'] == 318]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [156]:
power = pd.read_csv('power.csv')
power

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [171]:
power[(power['category'].isin((4, 12, 21)))]

          country  year  quantity  category
9834    Swaziland  2014      0.15         4
9835    Swaziland  2013      0.15         4
9836    Swaziland  2012      0.15         4
9837    Swaziland  2011      0.15         4
9838    Swaziland  2010      0.18         4
...           ...   ...       ...       ...
254622   Viet Nam  2012     37.00        21
254623   Viet Nam  2011     31.00        21
254624   Viet Nam  2010     31.00        21
254625   Viet Nam  2009      8.00        21
254626   Viet Nam  2008      1.00        21

[88129 rows x 4 columns]

In [173]:
 power[power['year'].isin(range(2004, 2010+1))]

          country  year  quantity  category
6         Belgium  2010     22.00         1
7         Belgium  2009     45.00         1
10        Finland  2010      9.00         1
11        Finland  2009     13.00         1
12        Finland  2008     39.00         1
...           ...   ...       ...       ...
1189473   Vanuatu  2009      5.63        71
1189474   Vanuatu  2008      5.63        71
1189479  Viet Nam  2010     50.00        71
1189480  Viet Nam  2009     10.00        71
1189481  Viet Nam  2008      1.00        71

[360736 rows x 4 columns]

In [174]:
power[(power['category'].isin((4, 12, 21))) & power['year'].isin(range(2004, 2010+1))]

          country  year  quantity  category
9838    Swaziland  2010    0.1800         4
9839    Swaziland  2009    0.2100         4
9840    Swaziland  2008    0.3100         4
9841    Swaziland  2007    0.3080         4
9842    Swaziland  2006    0.2957         4
...           ...   ...       ...       ...
254615    Vanuatu  2009    2.4700        21
254616    Vanuatu  2008    2.4700        21
254624   Viet Nam  2010   31.0000        21
254625   Viet Nam  2009    8.0000        21
254626   Viet Nam  2008    1.0000        21

[25534 rows x 4 columns]

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [65]:
ratings[ratings['rating'] == 5.0 ].movieId

40          2028
61            47
107          296
109          316
111          318
            ...
27753429    6377
27753431    7072
27753436    7831
27753437    7834
27753438    8228
Name: movieId, Length: 4071135, dtype: int64

In [67]:
len(ratings[ratings['rating'] == 5.0 ]['movieId'].unique())

24209