# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [84]:
from libs.exchange import Rate

In [85]:
Rate().usd()

66.1854

In [ ]:
Rate('full').AZN()

### Упражнение
Дана строка со значениями, которые разделены запятыми:

In [1]:
line = '2019-07-01,organic,4293'

**Задача**

Напишите функцию column_count, которая возвращает число столбцов в такой строке

**Подсказка**

Можно перевести эту строку в список с помощью метода split: line.split(','). И затем посчитать количество элементов в нем (функция len)

In [7]:
'2019-07-01,organic,4293'.split(',')

['2019-07-01', 'organic', '4293']

In [2]:
def column_count(line):
    list_line = line.split(',')
    return len(list_line)

column_count(line)

3

In [3]:
def column_count(line):
    linestr=line.strip().split(',')
    lenght=len(linestr)
    return lenght

column_count(line)

3

In [9]:
line = '2019-07-01,organic,4293'

def column_count(string):
    if string:
        line_list = string.strip().split(',')
        count = len(line_list)

        return count
    
    return 0

column_count(line)

3

In [4]:
column_count('2019-07-01,organic,4293,')

4

In [5]:
column_count('2019-07-01')

1

In [10]:
column_count('')

0

# Классы
Пример использования переменной в разных методах

In [12]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [21]:
a = AnyName()

In [ ]:
a.

In [22]:
a.method_2()

AttributeError: 'AnyName' object has no attribute 'currency'

In [ ]:
import datetime.py

In [16]:
from datetime import datetime, timedelta

In [ ]:
timedelta.

In [ ]:
datetime.datetime.strptime()

In [14]:
a.

In [18]:
a.method_1()

In [19]:
a.currency

'usd'

In [ ]:
a.currency

In [20]:
a.method_2()

usd

### Метод __init__

In [23]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [24]:
r = Rate()

value

In [26]:
r.format

'value'

### Класс для курсов валют

In [27]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [28]:
r = Rate()

In [29]:
r.show_current_format()

'value'

Пример инициализации со значением переменной

In [30]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [31]:
r = Rate(format_='value')

In [32]:
r.show_current_format()

'value'

Или сразу со значением по умолчанию

In [33]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [34]:
r = Rate()
r.show_current_format()

'value'

In [35]:
r_full = Rate(format_='full')
r_full.show_current_format()

'full'

In [36]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

'full_123'

In [37]:
r_full.format

'full'

### Упражнение
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [38]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    
    def up(self, num=100):
        self.salary += num
        print(f'Зряплата выросла до {self.salary}') 
    
    def print_(self, text=''):
        print(f'Сотрудник {self.name}, зарплата {self.salary}. {text}')

In [39]:
emp = Employee('Иван', 40)

In [51]:
emp.name, emp.salary

('Иван', 640)

In [56]:
emp.print_()

Сотрудник Иван, зарплата 640.

In [50]:
emp.up()

Зряплата выросла до 640

In [42]:
elena = Employee('Елена', 200)

In [55]:
elena.up()

Зряплата выросла до 600

In [43]:
elena.name, elena.salary

('Елена', 200)

In [57]:
elena.print_()

Сотрудник Елена, зарплата 600.

In [ ]:
class Employee:
    def _init_(self, name, salary):
        self.name = name
        self.salary = salary
    
    def up(self):
        self.salary += 100
        # return self.salary
    
    def print_(self):
        print(f'Сотрудник {self.name}, зарплата {self.salary}')

In [ ]:
current_salary = elena.salary

In [ ]:
class Employee:
    def __init__(name, salary):
        self.name = name
        self.salary = salary
    
    def up(self):
        new_salary = self.salary + 100
        return new_salary
    
    def print_(self):
        line = f"{self.name}, зарплата {self.salary}"
        return line

### Полная версия класса

In [58]:
import requests

In [59]:
class Rate:
    """
    
    """
    def __init__(self, format_='value'):
        self.format = format_
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [60]:
r = Rate(format_='full')

In [61]:
r.make_format('GBP')

{'ID': 'R01035',
 'NumCode': '826',
 'CharCode': 'GBP',
 'Nominal': 1,
 'Name': 'Фунт стерлингов Соединенного королевства',
 'Value': 85.399,
 'Previous': 84.5011}

In [62]:
r.usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 66.1854,
 'Previous': 66.0784}

In [63]:
r = Rate()

In [64]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 43.8478,
  'Previous': 43.658},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 39.0129,
  'Previous': 38.9498},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 85.399,
  'Previous': 84.5011},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 13.8174,
  'Previous': 13.7951},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 29.5946,
  'Previous': 29.6037},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 37.6417,
  'Previous': 37.7591},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 14.4352,
  'Previous': 14.636},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 21.9037,
  'Previous': 22.0305},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 85.1741,
  'Previous': 85.0561},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 10,
  'Name': 'Датских крон',
  'Value': 98.5239,
  'Previous': 98.8206},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 66.1854,
  'Previous': 66.0784},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 73.6842,
  'Previous': 73.7369},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 90.3555,
  'Previous': 89.9008},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.3795,
  'Previous': 17.3971},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 49.381,
  'Previous': 49.4747},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 94.7167,
  'Previous': 94.5636},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 95.3392,
  'Previous': 95.3017},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 38.0376,
  'Previous': 38.0307},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 71.3605,
  'Previous': 71.3266},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 17.1518,
  'Previous': 17.1976},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 15.321,
  'Previous': 15.3606},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 91.4259,
  'Previous': 91.0772},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 47.7425,
  'Previous': 47.6825},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 68.3663,
  'Previous': 68.1572},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.874,
  'Previous': 10.8229},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 18.9372,
  'Previous': 18.9066},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 69.7349,
  'Previous': 69.455},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 26.7627,
  'Previous': 26.4485},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 29.0618,
  'Previous': 29.2072},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 69.7834,
  'Previous': 69.9524},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 69.2026,
  'Previous': 69.2355},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 43.149,
  'Previous': 43.0041},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 55.9575,
  'Previous': 55.7642},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 61.7027,
  'Previous': 61.5112}}

Документация необходима почти всем методам

In [65]:
?r.exchange_rates

# Система повышения сотрудников

### Упражнение
Создайте класс Employee. При инициализации указываются имя сотрудника (name) и трудовой стаж в пройденных аккредитациях (seniority). Напишите метод init, в котором задаются соответствующие переменные - self.name и self.seniority.

### Упражнение
Заведите переменную self.grade при инициализации класса со значением 0. Добавьте метод grade_up, который увеличивает это значение на 1. На всякий случай - этот метод может ничего не возвращать, только изменять переменную.

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [66]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [67]:
cc = CurrencyCodes()

In [68]:
CurrencyCodes().usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 66.1854,
 'Previous': 66.0784}

Допишем в класс что-нибудь свое новенькое

In [69]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [70]:
currency = CurrencyCodes()

In [71]:
currency.currency_id('USD')

'R01235'

# Система повышения сотрудников
Пригодится для домашнего задания

In [72]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [73]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [74]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [75]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

Александр 1
Александр 1
Александр 1
Александр 1
Александр 2
Александр 2
Александр 2
Александр 2
Александр 2
Александр 3
Александр 3
Александр 3
Александр 3
Александр 3
Александр 4
Александр 4
Александр 4
Александр 4
Александр 4
Александр 5

# Домашнее задание задача 3

Напишите класс Designer, который учитывает количество международных премий для дизайнеров (из презентации: "Повышение на 1 грейд за каждые 7 баллов. Получение международной премии – это +2 балла"). Считайте, что при выходе на работу сотрудник уже имеет две премии и их количество не меняется со стажем (конечно если хотите это можно вручную менять). Выполните проверку для 20 аккредитаций дизайнера Елены.

Для проверки используйте код:

In [ ]:
elena = Designer('Елена', seniority=0, awards=2)

In [ ]:
for i in range(20):
    elena.check_if_it_is_time_for_upgrade()

# Импорт классов и функций

In [76]:
from libs.exchange import my_sum

In [77]:
my_sum(1, 2)

3

In [78]:
from libs.exchange import Rate

In [79]:
Rate().AZN()

39.0129

In [ ]:
# такой способ импорта крайне не рекомендуется
from libs.exchange import *

Если библиотека лежит в произвольной папке

In [80]:
import sys
sys.path

['/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8',
 '/Users/kbashevoy/anaconda3/lib/python37.zip',
 '/Users/kbashevoy/anaconda3/lib/python3.7',
 '/Users/kbashevoy/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/kbashevoy/.local/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/kbashevoy/.ipython']

In [ ]:
import sys
sys.path.append('адрес_папки_с_файлами')

In [81]:
# пример

import sys
sys.path.append('/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs')

In [82]:
from exchange import my_sum

In [83]:
my_sum(3, 3)

6